body
{
  
}
article
{
  display: flex;
  flex-wrap: wrap;
}
.product
{
  position: relative;
  padding: 1px;
  margin: 5px;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  height: max-content;
}
input
{
  border-radius: 5px;
  border: 1px solid #dedede;
}
.image
{
  zoom: 1.5;
  width: 100%;
  height: 220px;
  border: 1px solid #d1d1d1;
}
h5
{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12pt;
}
img
{
  margin-top: 10px;
  max-width: 100px;
  max-height: 200px;
  
}
nav
{
  color: gray;
}
a
{
  text-decoration: none;
  color: inherit;
}
#login_board
{
  width: max-content;
  height: max-content;
  position: absolute;
  padding: 5px;
  left: 20px;
  top: 50px;
  background-color: gray;
  display: none;
  z-index: 400;
}
ul
{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
}
li
{
  cursor: pointer;
  padding: 5px;
  font-size: 14pt;
}
li:hover
{
  color: red;
}
.rate
{
  color: orange;
}
form
{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
}
.labels > label
{
  line-height: 2.25;
}
.inputs > * , .units > * , .labels > *
{
  margin: 7px;
  padding: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.hide
{
  visibility: hidden;
}
.preview
{
  margin-top: 5px;
  padding-top: 0;
  margin-left: 7px;
}
.preview > img
{
  margin-top: 0;
  padding-top: 0;
}
.fav, .addToCart
{
  font-size: 10pt;
  font-weight: bolder;
}
.fav
{
  color: red;
}
.addToCart
{
  color: green;
}
.price
{
  color: gray;
  font-size: 14pt;
  font-weight: bolder;
  margin: 5px;
}
input[type='submit']:hover
{
  cursor:pointer;
  opacity: 0.8;
}
.add-new
{
  margin-top: 6.5px;
  margin-left: 5px;
  padding-bottom: 2px;
  color: gray;
}
.title
{
  margin-left: 30px;
}