
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">
<nav>
  <a href='../index.php'><img id='logo' src='../images/logo.png' title='All Products'></a>
  <ul>
    <a href='../index.php'><li class="material-icons-outlined" title='All Products'>store</li><li> All Products </li></a>
    <a href='../views/cart.php'><li class="material-icons-outlined" title='Shopping Cart'>shopping_cart</li><li> Shopping Cart </li></a>
    <a href='../views/favourite.php'><li class="material-icons-outlined" title='Favorite Products'>favorite</li><li>Favorite Products</li></a>
    <a href='../views/history.php'><li class="material-icons-outlined" title='Search History'>history</li><li>Search History</li></a>
    <a href='../views/add_product.php'><li class="material-icons-outlined" title='Add New Product'>control_point</li><li>New Product</li></a>
</ul>
</nav>