<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap" rel="stylesheet">
<nav><ul>
  <a href='../index.php'><li>&#127968;</li></a>
  <li>&#128722;</li>
  <a href='../views/favourite.php'><li>&#10084;</li></a>
  <a href='../views/history.php'><li>&#9203;</li></a>
  <a href='../views/add_product.php'><input type='submit' class='add-new' value='&#10024; New Product'></a>
</ul></nav>