body
{
  font-family: 'Tajawal', sans-serif;
}
article
{
  display: flex;
  flex-wrap: wrap;
}
.product
{
  position: relative;
  padding: 1px;
  margin: 5px;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  height: max-content;
  font-weight: bold;
}
input
{
  border-radius: 5px;
  border: 1px solid #dedede;
}
.image
{
  zoom: 1.5;
  width: 100%;
  height: 220px;
  border: 1px solid #d1d1d1;
}
h5
{
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12pt;
}
img
{
  margin-top: 10px;
  max-width: 100px;
  max-height: 200px;
  
}
nav
{
  color: gray;
}
a
{
  text-decoration: none;
  color: inherit;
}
#login_board
{
  width: max-content;
  height: max-content;
  position: absolute;
  padding: 5px;
  left: 20px;
  top: 50px;
  background-color: gray;
  display: none;
  z-index: 400;
}
ul
{
  list-style-type:none;
}
nav > ul
{
  
  display: flex;
  flex-wrap: wrap;
}
li
{
  cursor: pointer;
  padding: 5px;
  font-size: 14pt;
}
.h-element > button
{
  cursor: pointer;
  font-size: 12pt;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
}
li:hover
{
  color: red;
  opacity: 0.8;
}
.rate
{
  color: orange;
}
form
{
  display: flex;
  flex-direction: row;
}
form > *
{
  margin: 15px;
  font-weight: bold;
}
.body
{
  margin: 10px;
  padding: 50px;
  border: 1px solid gray;
  width: max-content;
}
.labels > label
{
  line-height: 2.25;
}
.inputs > * , .units > * , .labels > *
{
  margin: 7px;
  padding: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.hide
{
  visibility: hidden;
}
.preview
{
  margin-top: 5px;
  padding-top: 0;
  margin-left: 7px;
}
.preview > img
{
  margin-top: 0;
  padding-top: 0;
}
.favourite, .addToCart
{
  font-size: 10pt;
  font-weight: bolder;
}
.favourite
{
  color: red;
}
.addToCart
{
  color: green;
}
.price
{
  color: gray;
  font-size: 14pt;
  font-weight: bolder;
  margin: 5px;
}
input[type='submit']:hover
{
  cursor:pointer;
  opacity: 0.8;
}
.add-new
{
  margin-top: 6.5px;
  margin-left: 5px;
  padding-bottom: 2px;
  color: gray;
}
.title-icon
{
  padding: 0;
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  font-size: 28pt;
  margin-right: 10px;
  margin-left: 35px;
  float: left;
  color: red;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: -3px;
}
.title
{
  text-align: left;
  padding: 10px 50px;
  margin: 20px 30px;
  color: gold;
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  width: 200px;
  margin-top: -6px;
  height: 38px;
}
.product-title
{
  text-align: left;
  padding: 10px 50px;
  margin: 20px 30px;
  color: gold;
  height: 38px;
}
.search-title
{
  text-align: left;
  padding: 10px 20px;
  margin: 20px 30px;
  color: gray;
  height: 38px;
  font-weight: bolder;
  font-size: 14pt;
}
span.search-title + div
{
  margin-left: 70px;
  font-size: 12pt;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 5px;
}
.key
{
  color: white;
  background-color: gray;
  border-radius: 5px;
  padding: 1px 5px;
  margin: 0 5px;
}
.product-detail
{
  color: gray;
}
.show-details > ul > li
{
  font-weight: bold;
  cursor: default;
}
h2
{
  margin-top: 6px;
}
.history
{
  display: block;
  color: gray;
}
a.h-element
{
  display: block;
  margin: 5px auto;
  padding: 5px 5px;
  width: 100%;
  color: gray;
  font-weight: bold;
 }

.h-element > button
{
  text-align: left;
  border: 1px solid #f1f1f1;
}
.h-element > button:hover
{
  cursor:pointer;
  opacity: 0.8;
  background-color: #f1f1f1;
}
.required
{
  color: red;
}
.show-product
{
  zoom: 300%;
}
.show-product:hover
{
  zoom: 500%;
}
.show-details
{
  margin: auto auto;
}
.brand:hover
{
  cursor: pointer;
  background-color: #f1f1f1;
}
